* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-100: #f3f9fa;
    --gren-200: #c5e4e7;
    --gren-300: #9ebbbd;
    --gren-400: #7f9d9f;
    --gren-500: #5e7a7d;
    --gren-600: #547878;
    --gren-700: #3d6666;
    --gren-800: #00474b;
    --ligh-gren: #26c2ae;
    --white: #ffffff;
}

body {
    background-color: var(--gren-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block:2.8rem;
}